

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
 <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
 <script src="https://momentjs.com/downloads/moment.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.1/ui-bootstrap-tpls.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-calendar/1.0.0/calendar.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/lang-all.js"></script>
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>



 
<style>
html, body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 10px;
}

/*!
 * FullCalendar v1.6.4 Stylesheet
 * Docs & License: http://arshaw.com/fullcalendar/
 * (c) 2013 Adam Shaw
 */


.fc {
	direction: ltr;
	text-align: left;
  max-width: 480px;
  margin: auto;
	}

.fc table thead {
	border: 0;
	}
	
html .fc,
.fc table {
	font-size: 1em;
	}
	
.fc td,
.fc th {
	padding: 0;
	vertical-align: top;
	}



/* Header
------------------------------------------------------------------------*/

.fc-header td {
	white-space: nowrap;
	}

.fc-header-left {
	width: 25%;
	text-align: left;
	}
	
.fc-header-center {
	text-align: center;
	}
	
.fc-header-right {
	width: 25%;
	text-align: right;
	}
	
.fc-header-title {
	display: inline-block;
	vertical-align: top;
	}
	
.fc-header-title h2 {
	margin-top: 0;
	white-space: nowrap;
  font-weight: 300;
	}
	
.fc .fc-header-space {
	padding-left: 10px;
	}
	
.fc-header .fc-button {
	margin-bottom: 1em;
	vertical-align: top;
	}
	
/* buttons edges butting together */

.fc-header .fc-button {
	margin-right: -1px;
	}
	
.fc-header .fc-corner-right,  /* non-theme */
.fc-header .ui-corner-right { /* theme */
	margin-right: 0; /* back to normal */
	}
	
/* button layering (for border precedence) */
	
.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
	z-index: 2;
	}
	
.fc-header .fc-state-down {
	z-index: 3;
	}

.fc-header .fc-state-active,
.fc-header .ui-state-active {
	z-index: 4;
	}
	
	
	
/* Content
------------------------------------------------------------------------*/
	
.fc-content {
	clear: both;
	zoom: 1; /* for IE7, gives accurate coordinates for [un]freezeContentHeight */
	}
	
.fc-view {
	width: 100%;
	overflow: hidden;
	}
	
	

/* Cell Styles
------------------------------------------------------------------------*/

.fc-widget-header {
	border-width: 0 0 1px 0 !important;
  padding-bottom: 10px !important;
	}
  
.fc-widget-header,    /* <th>, usually */
.fc-widget-content {  /* <td>, usually */
	border: 1px solid #ddd;
	}
  
.fc-state-highlight { /* <td> today cell */ /* TODO: add .fc-today to <th> */
	background: #fcf8e3;
	}
	
.fc-cell-overlay { /* semi-transparent rectangle while dragging */
	background: #bce8f1;
	opacity: .3;
	filter: alpha(opacity=30); /* for IE */
	}
	


/* Buttons
------------------------------------------------------------------------*/

.fc-button {
	position: relative;
	display: inline-block;
  padding: 0 5px;
	overflow: hidden;
	height: 1.9em;
	line-height: 1.9em;
	white-space: nowrap;
	cursor: pointer;
	}
	
.fc-state-default { /* non-theme */
	border: 1px solid;
	}

.fc-state-default.fc-corner-left { /* non-theme */
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	}

.fc-state-default.fc-corner-right { /* non-theme */
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	}

/*
	Our default prev/next buttons use HTML entities like &lsaquo; &rsaquo; &laquo; &raquo;
	and we'll try to make them look good cross-browser.
*/

.fc-text-arrow {
	margin: 0 .1em;
	font-size: 2em;
	font-family: "Courier New", Courier, monospace;
	vertical-align: baseline; /* for IE7 */
	}

.fc-button-prev .fc-text-arrow,
.fc-button-next .fc-text-arrow { /* for &lsaquo; &rsaquo; */
	font-weight: bold;
	}
	
/* icon (for jquery ui) */
	
.fc-button .fc-icon-wrap {
	position: relative;
	float: left;
	top: 50%;
	}
	
.fc-button .ui-icon {
	position: relative;
	float: left;
	margin-top: -50%;
	*margin-top: 0;
	*top: -50%;
	}
	
/*
  button states
  borrowed from twitter bootstrap (https://twitter.github.com/bootstrap/)
*/

.fc-state-default {
	background-color: #f5f5f5;
	border-color: #bfbfbf;
	border-color: rgba(0, 0, 0, 0.2);
	color: #333;
	}

.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
	color: #333333;
	background-color: #e6e6e6;
	}

.fc-state-hover {
	color: #333333;
	text-decoration: none;
	}

.fc-state-down,
.fc-state-active {
	background-color: #cccccc;
	background-image: none;
	outline: 0;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	}

.fc-state-disabled {
	cursor: default;
	background-image: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
	box-shadow: none;
	}

	

/* Global Event Styles
------------------------------------------------------------------------*/

.fc-event-container > * {
	z-index: 8;
	}

.fc-event-container > .ui-draggable-dragging,
.fc-event-container > .ui-resizable-resizing {
	z-index: 9;
	}
	 
.fc-event {
	border: 1px solid #3a87ad; /* default BORDER color */
	background-color: #3a87ad; /* default BACKGROUND color */
	color: #fff;               /* default TEXT color */
	font-size: .85em;
	cursor: default;
	}

a.fc-event {
	text-decoration: none;
	}
	
a.fc-event,
.fc-event-draggable {
	cursor: pointer;
	}
	
.fc-rtl .fc-event {
	text-align: right;
	}

.fc-event-inner {
	width: 100%;
	height: 100%;
	overflow: hidden;
	}
	
.fc-event-time,
.fc-event-title {
	padding: 0 1px;
	}
	
.fc .ui-resizable-handle {
	display: block;
	position: absolute;
	z-index: 99999;
	overflow: hidden; /* hacky spaces (IE6/7) */
	font-size: 300%;  /* */
	line-height: 50%; /* */
	}
	
	
	
/* Horizontal Events
------------------------------------------------------------------------*/

.fc-event-hori {
	border-width: 1px 0;
	margin-bottom: 1px;
	}

.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
	border-left-width: 1px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	}

.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start {
	border-right-width: 1px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	}
	
/* resizable */
	
.fc-event-hori .ui-resizable-e {
	top: 0           !important; /* importants override pre jquery ui 1.7 styles */
	right: -3px      !important;
	width: 7px       !important;
	height: 100%     !important;
	cursor: e-resize;
	}
	
.fc-event-hori .ui-resizable-w {
	top: 0           !important;
	left: -3px       !important;
	width: 7px       !important;
	height: 100%     !important;
	cursor: w-resize;
	}
	
.fc-event-hori .ui-resizable-handle {
	_padding-bottom: 14px; /* IE6 had 0 height */
	}
	
	
	
/* Reusable Separate-border Table
------------------------------------------------------------*/

table.fc-border-separate {
	border-collapse: separate;
	}
	
.fc-border-separate th,
.fc-border-separate td {
	border-width: 1px 0 0 1px;
	}
	
.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
	border-right-width: 1px;
	}
	
.fc-border-separate tr.fc-last th,
.fc-border-separate tr.fc-last td {
	border-bottom-width: 1px;
	}
	
.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
	border-top-width: 0;
	}
	
	

/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/

.fc-grid th {
	text-align: center;
	}

.fc .fc-week-number {
	max-width: 22px;
	text-align: center;
	}

.fc .fc-week-number div {
	padding: 0 2px;
	}
	
.fc-grid .fc-day-number {
  text-align: center;
  line-height: 55px;
	}
	
.fc-grid .fc-other-month .fc-day-number {
	opacity: 0.3;
	filter: alpha(opacity=30); /* for IE */
	/* opacity with small font can sometimes look too faded
	   might want to set the 'color' property instead
	   making day-numbers bold also fixes the problem */
	}
	
.fc-grid .fc-day-content {
	clear: both;
	padding: 2px 2px 1px; /* distance between events and day edges */
	}
	
/* event styles */
	
.fc-grid .fc-event-time {
	font-weight: bold;
	}
	
/* right-to-left */
	
.fc-rtl .fc-grid .fc-day-number {
	float: left;
	}
	
.fc-rtl .fc-grid .fc-event-time {
	float: right;
	}
	
	

/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/

.fc-agenda table {
	border-collapse: separate;
	}
	
.fc-agenda-days th {
	text-align: center;
	}
	
.fc-agenda .fc-agenda-axis {
	width: 50px;
	padding: 0 4px;
	vertical-align: middle;
	text-align: right;
	white-space: nowrap;
	font-weight: normal;
	}

.fc-agenda .fc-week-number {
	font-weight: bold;
	}
	
.fc-agenda .fc-day-content {
	padding: 2px 2px 1px;
	}
	
/* make axis border take precedence */
	
.fc-agenda-days .fc-agenda-axis {
	border-right-width: 1px;
	}
	
.fc-agenda-days .fc-col0 {
	border-left-width: 0;
	}
	
/* all-day area */
	
.fc-agenda-allday th {
	border-width: 0 1px;
	}
	
.fc-agenda-allday .fc-day-content {
	min-height: 34px; /* TODO: doesnt work well in quirksmode */
	_height: 34px;
	}
	
/* divider (between all-day and slots) */
	
.fc-agenda-divider-inner {
	height: 2px;
	overflow: hidden;
	}
	
.fc-widget-header .fc-agenda-divider-inner {
	background: #eee;
	}
	
/* slot rows */
	
.fc-agenda-slots th {
	border-width: 1px 1px 0;
	}
	
.fc-agenda-slots td {
	border-width: 1px 0 0;
	background: none;
	}
	
.fc-agenda-slots td div {
	height: 20px;
	}
	
.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
	border-top-width: 0;
	}

.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
	border-top-style: dotted;
	}
	
.fc-agenda-slots tr.fc-minor th.ui-widget-header {
	*border-top-style: solid; /* doesn't work with background in IE6/7 */
	}
	


/* Vertical Events
------------------------------------------------------------------------*/

.fc-event-vert {
	border-width: 0 1px;
	}

.fc-event-vert.fc-event-start {
	border-top-width: 1px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	}

.fc-event-vert.fc-event-end {
	border-bottom-width: 1px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	}
	
.fc-event-vert .fc-event-time {
	white-space: nowrap;
	font-size: 10px;
	}

.fc-event-vert .fc-event-inner {
	position: relative;
	z-index: 2;
	}
	
.fc-event-vert .fc-event-bg { /* makes the event lighter w/ a semi-transparent overlay  */
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: .25;
	filter: alpha(opacity=25);
	}
	
.fc .ui-draggable-dragging .fc-event-bg, /* TODO: something nicer like .fc-opacity */
.fc-select-helper .fc-event-bg {
	display: none\9; /* for IE6/7/8. nested opacity filters while dragging don't work */
	}
	
/* resizable */
	
.fc-event-vert .ui-resizable-s {
	bottom: 0        !important; /* importants override pre jquery ui 1.7 styles */
	width: 100%      !important;
	height: 8px      !important;
	overflow: hidden !important;
	line-height: 8px !important;
	font-size: 11px  !important;
	font-family: monospace;
	text-align: center;
	cursor: s-resize;
	}
	
.fc-agenda .ui-resizable-resizing { /* TODO: better selector */
	_overflow: hidden;
	}
	
	
	
</style>



<div ng-app="myApp">
    <div ng-controller="Ctrl">
        <p></p>
      
 <div class="formLoader">
    <ul class="formLoading">
      <li></li>
      <li></li>
      <li></li>
    </ul>
</div>
        <div class="container">
            <!--             <div class="row">s
                <h3 uib-tooltip-html="htmlTooltip" tooltip-placement="bottom">{{teste}}</h3>
            </div> -->
            <!--     Modal Body     -->
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Clase</h3>
                </div>
                <div class="modal-body">
                    <div class="text-center well">
                    <p>
                        <label for="nome">{{    nome   }}</label>
                    </p>
                    <p>
                        <label for="nome">{{   gfExtenso    }}</label>
                    </p>
                </div>
                
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                </div>
            </script>
          
          
          
            <script type="text/ng-template" id="bookpiano.html">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Agendar servicio</h3>
                </div>
                <div class="modal-body">
                    <div class="text-center well">
                    
                    <p>
             <label for="service">Servicio</label>
  <select id="service" class="form-control" ng-model="selectedService" ng-change="updateDayList()">
    <option value=""></option>
    <option value="service1">{{opc1}}</option>
    <option value="service2" ng-if="miss > 0">{{opc2}}</option>
    <option value="service3" ng-if="delay > 0">{{opc3}}</option>
  </select>
        <label for="dayList" ng-if="selectedService">Dia</label>
  <select id="dayList" class="form-control" ng-model="selectedDay" ng-change="updateHourList()" ng-options="day for day in days" >
  </select>
     <label for="hourList" ng-if="selectedDay && selectedService != 'service3'">Hora</label>
  <select id="hourList" class="form-control" ng-model="selectedHour"  ng-change="logHour(selectedHour)" ng-if="selectedDay && selectedService != 'service3'" ng-options="hour for hour in hours">

  </select>
             </p>          
                  
                </div>
               <span style="font-weight: 700;">Prácticas:  </span> Ilimitadas<br>
  <span style="font-weight: 700;">Reposiciones:  </span> {{miss}}<br>
               <span style="font-weight: 700;">Falta sin recargo:  </span> {{delay}}
                </div>
                <div class="modal-footer">
                  <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-primary" type="button" ng-click="submitForm()">Solicitar</button>
                </div>
            </script>
          
            <!--   END  Modal Body     -->
            <div class="alert-success calAlert ng-scope" ng-show="alertMessage != undefined &amp;&amp; alertMessage != ''">
                <h4 class="ng-binding">{{alertMessage}}</h4>
            </div>
            <div>
                <div></div>
                <div select="renderCalender('myCalendar1');">
                    <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
                </div>
            </div>
        </div>
        <p></p>

    </div>
</div>

<script>
	var app = angular.module('myApp', ['ui.bootstrap', 'ui.calendar']);

app.controller('Ctrl', function($scope, $http, $uibModal, $log, $compile, uiCalendarConfig) {
    $scope.teste = "calendar";

 
  
   var requestData = {
    action: "getBasicData",
    token: localStorage.getItem('TPtoken')
  };

  var config = {
    headers: {
      "Content-Type": "text/plain;charset=utf-8"
    },
    followRedirects: true, 
  };
 $http.post('https://script.google.com/macros/s/AKfycbzuRdRbf_Yy-JUEUm4E2qzvWLm6hquJNhqEGEKecOPLowyjBJU8SS_wQ57W2--XobEA/exec', requestData, config)
    .then(function(response) {
    $scope.userData = response.data;
    $scope.events = JSON.parse($scope.userData.agenda)
  

    $scope.eventSources = [$scope.events];
   if (uiCalendarConfig.calendars['myCalendar1']) {
     uiCalendarConfig.calendars['myCalendar1'].fullCalendar('removeEventSources');
     uiCalendarConfig.calendars['myCalendar1'].fullCalendar('addEventSource', $scope.events);
     uiCalendarConfig.calendars['myCalendar1'].fullCalendar('rerenderEvents');
    }
   $(".formLoader").css("display", "none");
    $(".fc").css("filter", "none");
  })

   

  
 $scope.bookpiano = function() {
    var modalInstance2 = $uibModal.open({
      templateUrl: 'bookpiano.html',
      controller: 'bookCtrl',
      resolve: {
                items: function() {
                    return $scope.events;
                },
                userData: function() {
                    return $scope.userData;
                }
            }
    });
  };

    /* Render Tooltip
    $scope.eventRender = function(event, element, view) {
        element.attr({

            'tooltip-append-to-body': true
        });
        $compile(element)($scope);
    };*/
     var date = new Date();
    $scope.alertOnEventClick = function(date, jsEvent, view, size) {
        $scope.selected = date;
        // Modal

        $scope.animationsEnabled = true;

        var modalInstance = $uibModal.open({
            animation: $scope.animationsEnabled,
            templateUrl: 'myModalContent.html',
            controller: 'ModalInstanceCtrl',
            size: size,
            resolve: {
                items: function() {
                    return $scope.selected;
                }
            }
        });

        $scope.toggleAnimation = function() {
            $scope.animationsEnabled = !$scope.animationsEnabled;
        };
        // FIM Modal

    };
  
 



    var currentLangCode = 'es-mx';
    $scope.uiConfig = {
        calendar: {
            defaultView: 'month',
            height: "auto",
            lang: currentLangCode,
            eventTextColor: '#fff',
            eventBorderColor: 'white',
          
            eventBackgroundColor: function(event) {
              if(event.color){
                return event.color; 
              }
                
            },
            eventBackgroundColor: 'LightSeaGreen',
            eventRender: function(event, element) {
                element.find('.fc-time').text(""); 
              if (event.start < new Date()) { 
                if(event.attendance === 1){
                     element.append('<i class="ri-check-line" style="position: absolute; top: -30px;  color: green; font-size: 20px; font-weight: 700;"></i>'); 
                }else if(event.attendance === 0){
                  element.append('<i class="ri-close-line" style="position: absolute; top: -30px;  color: red; font-size: 20px; font-weight: 700;"></i>'); 
               }
                 
                };
             
            },
            
            header: {
                left: 'title',
                right: 'today prev,next'
            },
            eventClick: $scope.alertOnEventClick
        }
    };

});

app.controller('ModalInstanceCtrl', function($scope, $uibModalInstance, items) {

    $scope.nome = items.title;
    // Mudando formato como é mostrado DateTime no input
    $scope.ted = items.start;
    $scope.date = moment($scope.ted).format("DD-MM-YYYY HH:mm");
    $scope.gfExtenso = moment(items.start).format("dddd D MMMM YYYY, HH:mm a");
    // FIM Mudando formato como é mostrado DateTime no input

    $scope.items = items;

    $scope.selected = {
        item: $scope.items[0]
    };

    $scope.ok = function() {
        $uibModalInstance.close($scope.selected.item);
    };

    $scope.cancel = function() {
        $uibModalInstance.dismiss('cancel');
    };
});



app.controller('bookCtrl', function($scope, $http, $uibModalInstance, items, userData, uiCalendarConfig) {
   $scope.miss = userData.repositions;
  $scope.delay = userData.skips;


    $scope.cancel = function() {
        $uibModalInstance.dismiss('cancel');
    };
  
  
  $scope.opc1 = "Agendar piano para práctica";
  $scope.opc2 = "Agendar reposición de clase";
  $scope.opc3 = "Solicitar falta sin recargo";

  $scope.daysForPractice = [];
  $scope.daysForService2 = [];
  $scope.daysForService3 = [];
  var now = new Date();
  var hour = now.getHours();
  
  for(i=0; i<6;i++){ 
    var day = newDate(i).split(" ")[0];
    var limit = getLimit(day)
     if(day === "Miércoles" || day === "Jueves" || day === "Viernes"){
       if(i == 0 && hour < limit){
         $scope.daysForPractice.push(newDate(i));
       }else if(i>0){
         $scope.daysForPractice.push(newDate(i));
       }     
    }
  };

  for(i=1; i<7;i++){ 
    var day = newDate(i).split(" ")[0];
    //dateR.toDateString() === now.toDateString()
   if(day === "Miércoles" || day === "Jueves" || day === "Viernes" || day === "Sábado" || day === "Domingo"){
        $scope.daysForService2.push(newDate(i));
    }
  };
  
  for(i=0;i<items.length;i++){
    if(items[i].attendance === ""){
      var date = new Date(items[i].start)
      $scope.daysForService3.push(returnDateFormat(date))
    }
  }
  
  

  var hoursForWeekday = ['14:00 a 15:00 Hrs', '15:00 a 16:00 Hrs', '16:00 a 17:00 Hrs', '17:00 a 18:00 Hrs', '18:00 a 19:00 Hrs'];
  var hoursForFriday = ['11:00 a 12:00 Hrs', '12:00 a 13:00 Hrs', '13:00 a 14:00 Hrs'];
  var hoursForSaturday = ['10:00 a 11:00 Hrs', '11:00 a 12:00 Hrs', '12:00 a 13:00 Hrs', '14:00 a 15:00 Hrs', '15:00 a 16:00 Hrs'];
  var hoursForSunday = ['9:00 a 10:00 Hrs', '10:00 a 11:00 Hrs', '11:00 a 12:00 Hrs', '12:00 a 13:00 Hrs'];

  $scope.updateDayList = function() {
    if ($scope.selectedService === 'service1') {
      $scope.days = $scope.daysForPractice;
    } else if ($scope.selectedService === 'service2') {
      $scope.days = $scope.daysForService2;
    } else if ($scope.selectedService === 'service3') {
      $scope.days = $scope.daysForService3;
    } else {
      $scope.days = [];
    }
    $scope.selectedDay = '';
    $scope.selectedHour = '';
  };

   $scope.updateHourList = function() {
    if ($scope.selectedService === 'service2' || $scope.selectedService === 'service1') {
    if ($scope.selectedDay.split(" ")[0] === 'Miércoles' || $scope.selectedDay.split(" ")[0] === 'Jueves') {
      $scope.hours = hoursForWeekday;
      if($scope.selectedService === 'service1'){
        if(now.getDay() == 3){
          var filteredHours = hoursForWeekday.slice();
          $scope.hours = filteredHours.splice(substractHour(3));
        }else if(now.getDay() == 4) 
          var filteredHours = hoursForWeekday.slice();
          $scope.hours = filteredHours.splice(substractHour(3));
      }
    } else if($scope.selectedDay.split(" ")[0] === 'Viernes') {
       $scope.hours = hoursForFriday;
        if($scope.selectedService === 'service1' && now.getDay() == 5){
          var filteredHours = hoursForWeekday.slice();
          $scope.hours = filteredHours.splice(substractHour(3));
        }
    } else if($scope.selectedDay.split(" ")[0] === 'Sábado') {
      $scope.hours = hoursForSaturday;
    } else if($scope.selectedDay.split(" ")[0] === 'Domingo') {
      $scope.hours = hoursForSunday;
    };

     $scope.selectedHour = '';
   } else if ($scope.selectedService === 'service3') {
     $scope.hours = [""]
   }
   
  };
  
  $scope.logHour = function(hour) {
    $scope.selectedHour = hour
    };
  
  
  function substractHour(tolerance){
    var now = new Date();
    var hour = now.getHours();

    for (i = 17; i >= 14; i--) {
      if (hour > i - tolerance) {
        return i - 14 + 1; 
      }
    }
  }
  
  function newDate (num){
    const now = new Date();
  const dat = new Date(now.getTime() + num*24*60*60*1000)
  const options = { weekday: 'long', month: 'long', day: 'numeric' };
    var dat2 = dat.toLocaleDateString("es-mx",options).replace(",","");
    return dat2.charAt(0).toUpperCase() + dat2.slice(1);
  };
  
  function returnDateFormat(date){
    const dat = new Date(date);
  const options = { weekday: 'long', month: 'long', day: 'numeric' };
    var dat2 = dat.toLocaleDateString("es-mx",options).replace(",","");
    return dat2.charAt(0).toUpperCase() + dat2.slice(1);
  }
  


function getMonthIndex(month) {
    var months = ["enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre"];
    return months.indexOf(month.toLowerCase());
};
  
  function getLimit(day){
    if(day == 'Miércoles' || day == 'Jueves'){
      return 17
    }else if(day == 'Viernes'){
      return 12
    }
  }




    function dateToISO(dateString, timeString) {
        var months = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'];
        var dateParts = dateString.split(' ');
        var timeParts = timeString.split(' ');

        var day = parseInt(dateParts[1]);
        var month = months.indexOf(dateParts[3]);
        var hour = parseInt(timeParts[0].split(':')[0]);

        var date = new Date(2024, month, day, hour);
        var offset = date.getTimezoneOffset();
        date.setMinutes(date.getMinutes() - offset);
        return date.toISOString();
    }
  
  
   $scope.submitForm = function() {
    if ($scope.selectedDay && $scope.selectedHour) {
     $scope.addEvent($scope.selectedService, $scope.selectedDay, $scope.selectedHour)
      $uibModalInstance.close();
      $scope.sendData($scope.selectedService)
    }else if ($scope.selectedService == "service3" && $scope.selectedDay){
      $scope.addExtension($scope.selectedDay)
     $uibModalInstance.close();
      $scope.sendData($scope.selectedService)
    } else {
      alert('Por favor, complete todos los campos requeridos.');
    }
  };
     
  
  $scope.addEvent = function(service, dateString, timeString) {
    if(service == "service1"){
        var newEvent = {
            title: "Práctica",
            start: dateToISO(dateString, timeString),
            color: "#33BEFF"
        }    
    }
    else if(service == "service2"){
        var newEvent = {
            title: "Reposición",
            start: dateToISO(dateString, timeString),
            color: "orange",
          attendance: ""
        };        
      userData.repositions = userData.repositions - 1
    }

    items.push(newEvent);
        if (uiCalendarConfig.calendars['myCalendar1']) {
            uiCalendarConfig.calendars['myCalendar1'].fullCalendar('removeEvents'); uiCalendarConfig.calendars['myCalendar1'].fullCalendar('addEventSource', items);     uiCalendarConfig.calendars['myCalendar1'].fullCalendar('rerenderEvents');
        }
    };
  
  
   
   $scope.addExtension = function(dateString) {
    var n = parseInt(dateString.split(" ")[1])
    var m = ""

    for(i=0; i<items.length; i++){
        m = parseInt(items[i].title.split(" ")[1])
        if(m == n){ 
          items[i].title = "Ausencia sin cobro",
          items[i].color = "silver"
        }else if(n<=m){
          items[i].title = "Clase "+(m-1).toString()
        }else if(items[i].title.split(" ")[1] == "pago"){
          items[i].title = "Clase 8"
          items[i].color = ""
        }
        if(items[i].title == "Clase 7" && n != 8){
          var dat = new Date(items[i].start)
          dat.setDate(dat.getDate() + 7)
          items.push({
            "title": "Próxima mensualidad",
            "start": dat.toISOString(),
            "color": "green"
          })
        }else if(items[i].title == "Clase 6" && n == 8){
          var dat = new Date(items[i].start)
          dat.setDate(dat.getDate() + 14)
          items.push({
            "title": "Próxima mensualidad",
            "start": dat.toISOString(),
            "color": "green"
          })
        }
    }
     if(items.length == 5){
      items[4].title = "Clase 4"
      var dat = new Date(items[4].start)
          dat.setDate(dat.getDate() + 7)
          items.push({
            "title": "Próximo pago",
            "start": dat.toISOString(),
            "color": "green"
          })
    } 

    userData.skips = userData.skips - 1
        if (uiCalendarConfig.calendars['myCalendar1']) {
            uiCalendarConfig.calendars['myCalendar1'].fullCalendar('removeEvents'); 
            uiCalendarConfig.calendars['myCalendar1'].fullCalendar('addEventSource', items);     
            uiCalendarConfig.calendars['myCalendar1'].fullCalendar('rerenderEvents');
        }
    };
  
  
  
   
$scope.sendData = function(service){

  if(service=='service3'){
  var title = $scope.selectedDay
  var requestData = {
    action: "logDate",
    token: localStorage.getItem('TPtoken'),
     event: service,
     title: title.split(" -")[0]
  }; 
  
  }else{
  var requestData = {
    action: "logDate",
    token: localStorage.getItem('TPtoken'),
     event: service,
     date: $scope.selectedDay, 
     time: $scope.selectedHour
  };
  }
 
  var config = {
    headers: {
      "Content-Type": "text/plain;charset=utf-8"
    },
    followRedirects: true, 
  }; 
 $http.post('https://script.google.com/macros/s/AKfycbzuRdRbf_Yy-JUEUm4E2qzvWLm6hquJNhqEGEKecOPLowyjBJU8SS_wQ57W2--XobEA/exec', requestData, config)
    .then(function(response) {
  })
  }


	
});

</script>
